<!-- Process Infographic -->
<div id="process-infographic">
	<div class="gallery">
		<div class="glide">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					<li class="glide__slide">
						<div class="infographic-grid">
							<figure class="infographic_image">
								<img src="img/how/process-diagram_1.jpg" alt="Kickoff">
							</figure>
							<figure class="infographic_video video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328874100" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
							<div class="infographic_description">
								<h2>Kickoff</h2>
								<ol>
									<li>Identify individual’s roles and solidify team unity.</li>
									<li>Define all possible scenarios.</li>
									<li>List challenges to end goal achievement thru Design Thinking exercise.</li>
									<li>Investigate and test problem hypotheses.</li>
									<li>Prioritize guiding principles/needs for a Critical-to-Quality list.</li>
									<li>Team members assigned to areas of research and/or focus.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="infographic-grid">
							<figure class="infographic_image">
								<img src="img/how/process-diagram_2.jpg" alt="Investigate">
							</figure>
							<figure class="infographic_video video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328650612" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
							<div class="infographic_description">
								<h2>Investigate</h2>
								<ol>
									<li>Partner with Poly’s Workplace Strategist to absorb necessary information.</li>
									<li>Harvest Poly’s collected data and pinpoint additional areas for consideration.</li>
									<li>Literature review to generate report of benchmarking data and best practices.</li>
									<li>Apply HGA’s research approach to test each hypothesis.</li>
									<li>Collectively determine method(s), data points, sample size and timeline.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="infographic-grid">
							<figure class="infographic_image">
								<img src="img/how/process-diagram_3.jpg" alt="Brainstorm">
							</figure>
							<figure class="infographic_video video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328650708" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
							<div class="infographic_description">
								<h2>Generate</h2>
								<ol>
									<li>Brainstorm around design interventions.</li>
									<li>Schedule regular war room meetings to specify solutions.</li>
									<li>Apply results from Investigate phase and create design schemes.</li>
									<li>Integration of culture, brand, workplace strategy, systems &ndash; to deliver an environment that fosters better productivity and collaboration.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="infographic-grid">
							<figure class="infographic_image">
								<img src="img/how/process-diagram_4.jpg" alt="Iterate">
							</figure>
							<figure class="infographic_video video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328650673" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
							<div class="infographic_description">
								<h2>Iterate</h2>
								<ol>
									<li>Pilot test small buildouts in multiple locations (if possible).</li>
									<li>Collect user data based on methods from the Investigate phase.</li>
									<li>Analyze data against initial hypothesis.</li>
									<li>Refine solutions and retest if needed.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="infographic-grid">
							<figure class="infographic_image">
								<img src="img/how/process-diagram_5.jpg" alt="Design Standards">
							</figure>
							<figure class="infographic_video video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328650784" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
							<div class="infographic_description">
								<h2>Design Guidelines</h2>
								<ol>
									<li>Build a web-based tool that is interactive and can be easily modified over time by Poly.</li>
									<li>Benefits of web-based tool:<br>
										a. articulate design standards by location and size<br>
										b. destination for workplace planning and user culture within the space<br>
										c. continue to track data.
									</li>
								</ol>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="glide__arrows" data-glide-el="controls">
				<button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
				<button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
			</div>
		</div>
	</div>
</div>