<!-- Froedtert -->
<div id="froedtert">
	<div class="gallery">
		<div class="glide">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					<li class="glide__slide">
						<h2 class="project_title">Froedtert</h2>
						<div class="project_grid">
							<div class="project_description">
								<p>The intent of an evidence-based design (EBD) approach is to make informed design decisions with empirical evidence to improve outcomes. Post-occupancy evaluations prove that the strategies implemented have been successful.</p>

								<p>At HGA we combine these two ways of design thinking in an integrated process. Important components used at Froedtert Hospital included discovering the current state, applying evidence and testing solutions during pre-design to predict outcomes, and then verifying the impact of design during post-occupancy.</p>

								<p>Baseline data gathered led to the development of quality metrics that were used to guide planning and design decisions. Common travel paths uncovered during shadowing were diagrammed in the three proposed prototypes and compared differences in travel distances. These activities were paramount in receiving buy-in from stakeholders for room count and size. In addition, future-state predictions were made by comparing current-state results to a benchmark database. For example, one design assumption estimated that approximately six to nine percent of nurses' time spent traveling would be saved and transferred to time spent in patient rooms.</p>

								<p>Furthermore, to ensure that our design solutions meet a level of success, the same research tools used during pre-design were implemented in a three-phased post-occupancy evaluation. Shadow data was collected at three, eight and 12 months post-occupancy to understand if assumptions and predictions made during pre-design were upheld. After each phase, the unit manager received a brief report that summarized the findings and provided operational suggestions to further enhance workflow.</p>

								<p>The phased approach successfully documented how nurses' workflow became more efficient within the space over time. As predicted, time spent traveling significantly decreased by six percent, or 36 minutes per nurse. Nurses on average traveled 2.08 miles, one of the lowest recorded statistics compared to other benchmark units.</p>
							</div>
							<figure class="video">
								<div class="wrap">
									<iframe src="https://player.vimeo.com/video/328656332" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</figure>
						</div>
					</li>
					<li class="glide__slide">
						<figure class="video">
							<div class="wrap">
								<iframe src="https://player.vimeo.com/video/328656111" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/2.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/8-9.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/20-21.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/1310_056_01_Froed8NT_dlh_02b_medium.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/1310_056_01_Froed8NT_dlh_04b_medium.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/1310_056_01_Froed8NT_dlh_05b_medium.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/1310_062_00_Froed3NT_dlh_01_medium.jpg">
						</figure>
					</li>
					<li class="glide__slide">
						<figure>
							<img src="img/where/froedtert/1310_062_00_Froed3NT_dlh_02_medium.jpg">
						</figure>
					</li>
				</ul>
			</div>
			<div class="glide__arrows" data-glide-el="controls">
				<button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
				<button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
			</div>
		</div>
	</div>
</div>